.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-intro {
  font-size: large;
}


.header-title {
  order: 1;
  display: inline-flex;
  margin: 0;
}

.header-controls {
  order: 2;
}

progress {
  width: 100%;
}

.show-active {
  display: inline;
  margin-right: 3em;
}

.search {
  display: inline;
}

.main-body {
  display: flex;
  justify-content: space-around;
}

.task-tree {
  order: 1;
  width: 33%;
  margin: 1em;
}

.subtasks {
  order: 2;
  width: 66%;
  margin: 1em;
}

.add-category {
  margin: 2em;
}

.category{
  border: solid 1px darkgrey;
  padding: 1em;
}

.add-subtask {
  margin: 2em;
}

.text-box{
  margin: 1em 0em;
  min-height: 10em;
  width: 100%;
}

.editable-name {
  display: block;
  margin: 1em 0em;
  font-size: large;
}

.task-name {
  text-align: left;
}

.controls {
  text-align: right;
}

.category-list{
  order: 1;
  width: 33%;
  margin: 1em;
}

.edit-area {
  order: 2;
  width: 66%;
  margin: 1em;
}